@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

h1 {
    text-align: center;
}

#addTask, #newTasks, #completeTasks {
    text-align: center;
}

#animate:hover {
    transform:rotate(30deg);
}

body
{
    font-family: 'Varela Round', sans-serif;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    margin: 100px;
    padding: 15px 30px 30px 30px;
    background-color: #fff;
}
